<%- include('./components/header')%>
<section class="py-5">
  <div class="container">
    <h1 class="text-center" style="font-size: 120px">404</h1>
    <p class="text-center fs-1">oops page not found</p>
    <div class="d-flex justify-content-center">
      <a href="/" class="btn btn-primary">take me home</a>
    </div>
  </div>
</section>
<%- include('./components/footer')%>
