<%- include('../components/header') %>
<div class="container">
  <h6 class="text-center">searchedUsersf : <%= searchedUsersf %></h6>
  <h6 class="text-center">searchedUsersl : <%= searchedUsersl %></h6>
</div>
<%- include('../components/footer') %>
